@import "./components/header.css";
@import "./components/project.css";
@import "./components/feed.css";
@import "./components/cards.css";
@import "./components/info.css";
@import "./components/footer.css";
@import "./components/projectHead.css";
@import "./components/cardTypes/projectCards.css";
@import "./components/cardTypes/sticky.css";
@import "./components/cardTypes/nextProject.css";
@import "./components/cardTypes/multiImage.css";
@import "./components/zoom.css";

body {
  margin: 0;
  margin-top: 0;
  background-color: rgb(240, 240, 240);
  text-decoration: none;
  overflow-x: hidden;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

a {
  text-decoration: none;
  color: black;
}

.dot {
  background-color: rgb(255, 255, 255);
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin: 14px;
  float: right;
}

.crust {
  background-color: rgb(64, 124, 176);
  color: rgb(46, 128, 160);
}

.mantle {
  background-color: rgb(138, 200, 255);
  color: rgb(158, 208, 227);
}

.red {
  background-color: #ff533c;
}

.core {
  background-color: rgb(14, 14, 14);
  color: rgb(14, 14, 14);
}

.cloud {
  background-color: rgb(225, 225, 225);
}

.flex {
  display: flex;
  justify-content: center;
}
